.md,.android,.ios,.wp{

    page-new-task{
        ion-content{
            background-color: burlywood;
        }
        ion-item{
            border-radius: 20px;
        }
        button{
            border-radius: 20px;
            color: rgb(46, 212, 13);
        background-color: darkgreen;
        }
    }
}
